{% extends 'simpleblog/base.html' %}

{% block content %}
    <ul class="article">
			<div class="title"><p class="titlepara"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></p></div>
			<div class="time"><p>at {{ article.publish_at|date:'Y-m-d H:i' }} views {{ article.num_views }}</p></div>
			<div class="content"><div class="contentpara">{{ article.content|safe }}</div>
	</ul>
	<p class="related">
            标签:
            {% for tag in article.tags.all %}
                <a href="{% url simpleblog_tag tag.name %}">{{ tag.name }}</a>
            {% endfor %}
            </p>
{% endblock %}
