{% extends 'simpleblog/base.html' %}
{% load pagination_tags %}

{% block content %}
    {% if tag %}
        <h2><a href="{% url simpleblog_tag tag.name %}">标签:{{ tag.name }}</a></h2>
        <br />
        
    {% elif date %}
        <h2><a href="{% url simpleblog_archive date.year date.month %}">归档：{{ date|date:'F Y' }}</a></h2>
        <br />
        
    {% elif category %}
        <h2><a href="{% url simpleblog_category category.id %}">分类：{{ category.name }}</a></h2>
        <br />
    {% endif %}

    {% autopaginate articles 5 %}

    {% for article in articles %}
    <ul class="article">
			<div class="title"><p class="titlepara"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></p></div>
			<div class="time"><p>{{ article.publish_at|date:'Y-m-d H:i' }}</p></div>
			<div class="desc"><p class="descpara">{{ article.content|safe|truncatewords_html:30 }}</p></div>
			<p class="related">
            标签:
            {% for tag in article.tags.all %}
                <a href="{% url simpleblog_tag tag.name %}">{{ tag.name }}</a>
            {% endfor %}
            </p>
			<hr>
	</ul>
    {% endfor %}

    {% paginate %}
{% endblock %}
